# Core Libraries
numpy
pandas
matplotlib
seaborn
scikit-learn

# Statistical Models
statsmodels
pmdarima

# Forecasting Libraries
prophet
neuralprophet
darts[torch]  # Includes PyTorch for deep learning models
gluonts
sktime
statsforecast
mlforecast

# Deep Learning
tensorflow
keras
torch
pytorch-lightning

# Utilities
optuna
# mlflow
# jupyterlab
notebook
tqdm
